
@{
    ViewData["Title"] = "Index";
}

@model IEnumerable<Lab1.Models.Student>
<a asp-action="Create" class="btn btn-primary">Create New Student</a>
<table class="table table-striped">
    <thead>
		<tr>
			<th>Mã</th>
			<th></th>
			<th>Họ và tên</th>
			<th>Ngày sinh</th>
			<th>Ngành</th>
			<th>Giới Tính</th>
			<th>Hệ ĐT</th>
			<th>Địa chỉ</th>
			<th>Email</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@item.Id</td>
				<td>
					<img src="@item.Avatar" alt="Avatar" width="50" height="50" />
				</td>
				<td>@item.Name</td>
				<td>@item.DateofBirth</td>
				@{
					string str = "";
					switch (item.Branch)
					{
						case Branchs.IT:
							str = "Công nghệ thông tin";
							break;
						case Branchs.BE:
							str = "Kinh Tế";
							break;
						case Branchs.CE:
							str = "Công trình";
							break;
						case Branchs.EE:
							str = "Điện";
							break;
					}
				}
				<td>@str</td>
				<td>@(item.Gender==Gender.Male? "Nam" : "Nữ")</td>
				<td>@(item.IsRegular ? "Chính Quy" : "Phi Chính Quy")</td>
				<td>@item.Address</td>
				<td>@item.Email</td>
			</tr>
		}
	</tbody>	
</table>

